/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    text-align: left;
    border: 0;
    -webkit-font-smoothing: antialiased;
    box-shadow: none;
}

*::-webkit-scrollbar {
    width: 0.4rem;
}

*::-webkit-scrollbar-track {
    background: #2c2c2a;
}

*::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to top, var(--primary), #2c2c2a);
    border-radius: 2rem;
}

/* Global */
body, html {
    font-size: 62.5%;
    font-family: 'Blinker', sans-serif;
    font-family: 'Saira', sans-serif;
    background-color: var(--dark-gray);
    color: var(--white-color);
    overflow-x: hidden;
}

:root {
    --primary: #EAC60B;
    --text-color: #BBBBBB;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --dark-gray: #0D0D0D;
    --gray-medium: #1D1E1F;
    --gray-heavy: #121212;
    --gray-semi-medium: #090A0A;
    --gray-light: #343434;
    --yellow-medium: #E0B20F;
    --alert: #FF0202;
    --fonts-blinker: 'Blinker', sans-serif;
    --fonts-saira: 'Saira', sans-serif;
    --header-height: 8rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Blinker', sans-serif;
    color: var(--white-color);
}

h1 {
    font-size: 7.6rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1.4rem;
}

p {
    font-family: 'Saira', sans-serif;
    color: var(--text-color);
    font-size: 1.6rem;
}

/* Fontes responsivas */

@media (max-width: 768px) {
    h1 {
        font-size: 4.8rem;
    }
    
    h2 {
        font-size: 3.2rem;
    }
    
    h3 {
        font-size: 2.5rem;
    }
    
    h4 {
        font-size: 2rem;
    }
    
    h5 {
        font-size: 1.6rem;
    }
    
    h6 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1.4rem;
    }
}


.small-text {
    font-family: var(--fonts-blinker);
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 1.4rem;
    text-align: right;
}

/* Grids */
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 128.6rem;
    padding: 0px 1.5rem;
}

@media(max-width: 1024px){
    body, html {
        font-size: 55%;
    }

}

@media (max-width: 560px) {
    body, html {
        font-size: 62.5%;
    }

    .container {
        padding: 0px 2rem;
    }
}

/* Patterns */
.btn-primary {
    padding: 1.6rem 5.4rem;
    color: var(--black-color);
    background-color: var(--primary);
    font-size: 1.6rem;
    font-family: var(--fonts-blinker);
    width: 20.5rem;
    height: 5.1rem;
    transition: 0.3s ease;
    cursor: pointer;

}

.btn-primary:hover {
    background-color: var(--yellow-medium);
}

.btn-secondary {
    padding: 1.6rem 5.4rem;
    font-size: 1.6rem;
    font-family: var(--fonts-blinker);
    width: 22.4rem;
    height: 5.1rem;
    transition: 0.3s ease;
    cursor: pointer;
    border: 1px solid var(--primary);
    color: var(--white-color);
}

.btn-secondary:hover {
    background-color: var(--gray-light);
}

.subtitle {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    font-family: var(--fonts-saira);
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 400;
}

.banner-initial {
    background-image: url('../assets/banner-initial.jpg');
    height: 32.4rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-initial h1 {
    padding: 175px 0 5.5rem;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-height);
    padding: 2.2rem 0;
    background: linear-gradient(270deg, rgba(1, 1, 1, 0.2) 0%, rgba(2, 2, 2, 0) 100%);
    backdrop-filter: blur(1.2rem);
    -webkit-backdrop-filter: blur(1.2rem);
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    opacity: 1;
    visibility: visible;
}


nav ul {
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
}

nav ul li a{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-family: var(--fonts-saira);
    color: var(--white-color);
}

header .container nav ul li a:hover {
    color: var(--text-color);
}

header .container nav ul li a:active {
    color: var(--text-color);
}

header .container nav ul li a:after {
    content: "";
    width: 0;
    display: block;
    height: 0.2rem;
    margin-top: 0.5rem;
    transition: width .3s;
    background-color: var(--primary);
}

header .container nav ul li a:hover:after {
    width: 100%;
    transition: width .3s;
}

#btn-mobile {
    display: none;
}

/* Menu responsivo */

@media (max-width: 998px) {
    .btnCompra {
        display: none;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: var(--header-height);
        height: 0;
        background-color: var(--dark-gray);
        display: block;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
        left: 0;
    }

    #nav.active #menu {
        height: calc(100vh - var(--header-height));
        visibility: visible;
        display: grid;
        align-content: center;
        justify-items: center;
    }

    #menu a {
        padding: 2rem 0;
        margin: 0 1rem;
        font-size: 3.2rem;
        text-align: center;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1.6rem;
        border: none;
        cursor: pointer;
        gap: 0.5rem;
        background: var(--primary);
        padding: 1.5rem 1.5rem;
    }

    #hamburguer {
        display: block;
        width: 2rem;
        border-top: 0.2rem solid;
        background: var(--primary);
    }

    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 2rem;
        height: 0.2rem;
        background: currentColor;
        margin-top: 0.5rem;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburguer {
        border-top-color: transparent;
    }
    
    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -0.7rem;
    }

    #nav {
        order: 2;
        justify-content: flex-end;
    }

}


.btnCompra a{
    background-color: var(--primary);
    width: 17.7rem;
    height: 3.9rem;
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
    font-family: var(--fonts-blinker);
    color: var(--black-color);
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.btnCompra a:hover {
    background-color: var(--yellow-medium);
}

/* Footer */
footer {
    background-color: var(--black-color);
    height: 25.7rem;
    padding: 6.4rem 0;
}

footer .firts-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .firts-info .social-links ul {
    display: flex;
    gap: 3.2rem;
    align-items: center;
}

.fa-brands {
    padding: 1.6rem;
    border-radius: 50%;
    display: flex;
    transition: background 0.3s;
    font-size: 2.1rem;
    color: var(--white-color);

}

footer .container hr {
    border-bottom: 1px solid var(--white-color);
    margin: 3.2rem 0;
}

.fa-brands:hover {
    color: var(--primary);
}

footer .last-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .last-info h6 {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-family: var(--fonts-saira);
}

/* Rodapé responsivo */

@media (max-width: 768px) {
    footer {
        height: 33.7rem;
    }

    footer .firts-info {
        flex-direction: column;
    }

    footer .last-info h6 {
        margin-bottom: 2.4rem;
        text-align: center;
    }

    footer .last-info {
        flex-direction: column;
    }

    
}

.noise {
    display: block;
    width: 100vw;
    height: 100vh;
    opacity: 0.1;
    background-image: url('../assets/ruido-animado.gif');
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
}

.loading-screen {
    position: relative;
    padding: 0;
    background-color: var(--primary);
    width: 0;
    height: 100%;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}

