/* Hero */

.s-hero {
    height: 87.8rem;
    background-image: url('../assets/bg-hero.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.s-hero .conteudo {
    padding-top: 22.1rem;
    display: flex;
    justify-content: space-between;
}

.s-hero .conteudo .left {
    width: 77.7rem;
}

.s-hero .conteudo .left .plataformas {
    display: flex;
    align-items: center;
    margin-bottom: 0.4rem;;
}

.s-hero .conteudo .left .plataformas p {
    padding-right: 0.8rem;
}

.s-hero .conteudo .left .plataformas img {
    display: inline;
    padding-right: 2.4rem;
}

.s-hero .conteudo .left .conteudoHero {
    display: block;
}

.s-hero .conteudo .left .conteudoHero h1 {
    margin-bottom: 3.2rem;
}

.s-hero .conteudo .left .conteudoHero p {
    margin-bottom: 4rem;
}

.s-hero .conteudo .left .cta-links {
    display: flex;
    gap: 2.4rem;
}

.s-hero .conteudo .right  {
    display: flex;
    align-items: center;
    align-content: center;
}

.s-hero .conteudo .right .social-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s-hero .conteudo .right .social-hero p{
    writing-mode: vertical-rl;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 14px;
    letter-spacing: 0.02em;
}

.s-hero .conteudo .right .social-hero hr {
    border: 0.1rem solid white;
    margin: 1.2rem 0;
}

.s-hero .conteudo .right .social-hero .socials {
    display: flex;
    flex-direction: column;
}

.s-hero .conteudo .right .social-hero .socials .fa-brands {
    font-size: 1.6rem;
    color: var(--white-color);
    gap: 0.8rem;
}

.s-hero .conteudo .right .social-hero .socials .fa-brands:hover {
    color: var(--primary);
}

/* Informções do jogo */
.s-info-geral {
    background-color: var(--gray-semi-medium);
    height: 18rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.s-info-geral ul{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.s-info-geral ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s-info-geral ul li span {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 1.4rem;
    font-family: var(--fonts-saira);
    line-height: 160%;
    margin-top:  1.2rem;
}

/* Seção persongens */

.s-personagens {
    background-image: url('../assets/bg-personagens.jpg');
    height: 89.9rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.s-personagens .left {
    width: 48.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.s-personagens .left h2 {
    margin: 0.8rem 0 3.2rem;
}

.s-personagens .left p {
    margin-bottom: 3.2rem;
}

/* Seção seleção de personagens */

.s-selecaoPersonagens {
    background-image: url('../assets/bg-selecao-personagens.jpg');
    height: 105.7rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.s-selecaoPersonagens .left {
    width: 38.4rem;
}

/* Seção de mapas */

.maps {
    height: 70rem;
}

.maps .description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 11.6rem 0 5.6rem;
}

.maps .description .left {
    width: 69.6rem;
}

.maps .description .left h2 {
    margin: 0.8rem 0 3.2rem; 
}

.maps .description .right {
    display: flex;
    align-items: flex-end;
}


.maps .container > .swiper {
    width: 192rem;
    overflow-x: hidden;
    position: absolute;
}

.maps .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}