/* Hero */

.s-hero {
    height: 87.8rem;
    background-image: url('../assets/bg-hero.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.s-hero .conteudo {
    padding-top: 22.1rem;
    display: flex;
    justify-content: space-between;
}

.s-hero .conteudo .left {
    width: 77.7rem;
}

.s-hero .conteudo .left .plataformas {
    display: flex;
    align-items: center;
    margin-bottom: 0.4rem;;
}

.s-hero .conteudo .left .plataformas p {
    padding-right: 0.8rem;
}

.s-hero .conteudo .left .plataformas img {
    display: inline;
    padding-right: 2.4rem;
}

.s-hero .conteudo .left .conteudoHero {
    display: block;
}

.s-hero .conteudo .left .conteudoHero h1 {
    margin-bottom: 3.2rem;
}

.s-hero .conteudo .left .conteudoHero p {
    margin-bottom: 4rem;
}

.s-hero .conteudo .left .cta-links {
    display: flex;
    gap: 2.4rem;
}

.s-hero .conteudo .right  {
    display: flex;
    align-items: center;
    align-content: center;
}

.s-hero .conteudo .right .social-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s-hero .conteudo .right .social-hero p{
    writing-mode: vertical-rl;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 14px;
    letter-spacing: 0.02em;
}

.s-hero .conteudo .right .social-hero hr {
    border: 0.1rem solid white;
    margin: 1.2rem 0;
}

.s-hero .conteudo .right .social-hero .socials {
    display: flex;
    flex-direction: column;
}

.s-hero .conteudo .right .social-hero .socials .fa-brands {
    font-size: 1.6rem;
    color: var(--white-color);
    gap: 0.8rem;
}

.s-hero .conteudo .right .social-hero .socials .fa-brands:hover {
    color: var(--primary);
}

/* Informções do jogo */
.s-info-geral {
    background-color: var(--gray-semi-medium);
    height: 18rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.s-info-geral ul{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.s-info-geral ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s-info-geral ul li span {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 1.4rem;
    font-family: var(--fonts-saira);
    line-height: 160%;
    margin-top:  1.2rem;
}

/* Seção persongens */

.s-personagens {
    background-image: url('../assets/bg-personagens.jpg');
    height: 89.9rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.s-personagens .left {
    width: 48.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.s-personagens .left h2 {
    margin: 0.8rem 0 3.2rem;
}

.s-personagens .left p {
    margin-bottom: 3.2rem;
}

/* Seção seleção de personagens */

.s-selecaoPersonagens {
    background-image: url('../assets/bg-selecao-personagens.jpg');
    height: 105.7rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.s-selecaoPersonagens .left {
    width: 38.4rem;
}

/*
.s-selecaoPersonagens .personagens-thumbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-pointer-events {
    touch-action: pan-y;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.slider-thumb-list {
    flex-wrap: wrap;
}

.swiper-android .swiper-slide, .swiper-wrapper {
    transform: translate3d(0,0,0);
}

.swiper .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.slider-thumb-list-item {
    cursor: pointer;
    height: auto;
    margin-bottom: .5%;
    width: 24.625%;
}

.slider-thumb-list-item::before {
    box-shadow: 2px 2px 4px inset rgba(255,255,255,0), -2px -2px 4px inset rgba(255,255,255,0);
    bottom: -0.24rem;
    content: "";
    display: block;
    height: calc(100% - 2px);
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: bottom .4s ease-in-out .4s,box-shadow .4s ease-in-out .4s;
    width: calc(100% - 2px);
}

.imgPersonagem {
    overflow: hidden;
    position: relative;
}

.imgPersonagem img {
    border-top: 1px solid rgba(255,255,255,.2);
    border-right: 1px solid rgba(255,255,255,.2);
    border-left: 1px solid rgba(255,255,255,.2);
    bottom: 0;
    filter: grayscale(1);
    transition: filter .4s ease;
}

.swiper-slide-thumb-active .imgPersonagem img {
    filter: grayscale(0);
}

.imgPersonagem figcaption {
    bottom: min(.05rem,5px);
    color: #fff;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.8));
    position: absolute;
    right: min(.1rem,10px);
    text-shadow: 0px 0px 9px #000;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: right;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

*/

/* Seção de mapas */

.maps {
    height: 70rem;
}

.maps .description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 11.6rem 0 5.6rem;
}

.maps .description .left {
    width: 69.6rem;
}

.maps .description .left h2 {
    margin: 0.8rem 0 3.2rem; 
}

.maps .description .right {
    display: flex;
    align-items: flex-end;
}


.maps .container > .swiper {
    width: 192rem;
    overflow-x: hidden;
    position: absolute;
}

.maps .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}