/* Botões de navegação */

.s-characters .tab {
    margin-bottom: 4.8rem;
    padding-top: 4rem;
    border-bottom: 1px solid var(--white-transparent-100);
}

.s-characters .tablinks {
    padding: 2.4rem 1.6rem;
    align-items: center;
    background-color: transparent;
    color: var(--white-color);
    font-size: 2rem;
    line-height: 2.4rem;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
    font-family: var(--fonts-blinker);

}

.tablinks::after {
    content: '';
    position: absolute;
    bottom: -0.1rem;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-color: transparent;
}

.tablinks:hover::after {
    background-color: var(--primary);
}

.s-characters .tablinks:hover  {
    background-color: var(--gray-heavy);
}

.s-characters .tabcontent {
    display: none;
}

.s-characters .tabcontent.active {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 3.2rem;
    animation: fadeLeft .3s forwards;
    -webkit-animation: fadeUp .3s forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.s-characters .tablinks.active {
    background-color: var(--gray-heavy);
    border-bottom: 1px solid var(--primary);
}
/* Herois */

.s-characters {
    background-color: var(--black-color);
}

.card-character {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--gray-medium);
}

.card-character img {
    width: 39.7rem;
    height: 22.3rem;
}

.card-character h3 {
    color: var(--primary);
    text-transform: uppercase;
    margin: 4.8rem 0 2.4rem 3.2rem;
}

.card-character p {
    margin: 0 3.2rem 4.8rem;
}

.s-characters .container .conteudo {
    width: 100%;
}



/* Layout responsivo */

@media (min-width: 1025px) and (max-width: 1366px){
    .tabcontent.active {
        grid-template-columns: repeat(2, auto);
    }

    
    .card-character img {
        width: 100%;
        height: 28.3rem;
        object-fit: cover;
    }
}

@media (max-width: 998px) {
    .tabcontent.active {
        grid-template-columns: repeat(2, auto);
    }

    .card-character img {
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .tabcontent.active {
        grid-template-columns: 1fr;
    }
}