/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    text-align: left;
    border: 0;
    -webkit-font-smoothing: antialiased;
    box-shadow: none;
}

/* Global */
body, html {
    font-size: 62.5%;
    font-family: 'Blinker', sans-serif;
    font-family: 'Saira', sans-serif;
    background-color: var(--dark-gray);
    color: var(--white-color);
}

:root {
    --primary: #EAC60B;
    --text-color: #BBBBBB;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --dark-gray: #0D0D0D;
    --gray-medium: #1D1E1F;
    --gray-light: #343434;
    --yellow-medium: #E0B20F;
    --alert: #FF0202;
    --fonts-blinker: 'Blinker', sans-serif;
    --fonts-saira: 'Saira', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Blinker', sans-serif;
    color: var(--white-color);
}

h1 {
    font-size: 7.6rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1.4rem;
}

p {
    font-family: 'Saira', sans-serif;
    color: var(--text-color);
    font-size: 1.6rem;
}

/* Grids */
.container {
    margin: 0 auto;
    width: 128rem;
}

/* Patterns */
.btn-primary {
    padding: 1.6rem 5.4rem;
    color: var(--black-color);
    background-color: var(--primary);
    font-size: 1.6rem;
    font-family: var(--fonts-blinker);
    width: 20.5rem;
    height: 5.1rem;
    transition: 0.3s ease;
    cursor: pointer;

}

.btn-primary:hover {
    background-color: var(--yellow-medium);
}

.btn-secondary {
    padding: 1.6rem 5.4rem;
    font-size: 1.6rem;
    font-family: var(--fonts-blinker);
    width: 22.4rem;
    height: 5.1rem;
    transition: 0.3s ease;
    cursor: pointer;
    border: 1px solid var(--primary);
    color: var(--white-color);
}

.btn-secondary:hover {
    background-color: var(--gray-light);
}

.subtitle {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    font-family: var(--fonts-saira);
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 400;
}

/* Header */


/* Footer */

/* Home */